body {
    padding: 0;
    margin: 0;
    background-color: #1b1b1d;
    color: white;
}
a {
    color: white;
}
.widget-content a:hover {
    background-color: #171718;
}
#news-widget .widget-content a:hover {
    background-color: initial;
}
#main-site {
    display: flex;
    flex-direction: column;
}
#header { 
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    /*background-color: black;*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.15), 0 3px 6px rgba(0,0,0,0.15);
}
#header-content {
    /*background-color: beige;*/
    display: flex;
    justify-content: space-between;
    width: calc(100% - 5%);
    margin: 0 2.5%;
}
.header-section:first-child {
    margin-right: .5%;
    background-color: #1b1b1d !important;
}
.header-section, #icons {
    display: flex;
    align-items: center;
    /*background-color: aqua;*/
    width: calc(50% - .25%);
}
#right-header, #icons {
    justify-content: flex-end;
}
#search {
    margin-left: 2%;
    width: calc(98% - 44px);
}
#search input {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: gray;
    padding-left: 0.5%;
}
.icon {
    margin: 0 3%;
}
.icon img {
    width: auto;
    height: 20.61px;
}
#main-body {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 55px - 2.5%);
    margin: 0 2.5% 2.5% 2.5%;
    /*background-color: aquamarine;*/
}
#below-header-section {
    display: flex;
    align-items: center;
    /*background-color: blue;*/
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100px;
    margin: .75% 0;
}
#spooderman {
    /*background-color: cadetblue;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
    height: 100%;
    margin-left: 0.5%;
}
#spooderman img {
    height: 25px;
}
#status-name {
    font-weight: 500;
    font-size: 1.5em;
    text-align: right;
    padding: 3%;
}
#status-details {
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 55%;
}
.status-help img {
    height: 13px;
}
.status-div {
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.status-div div {
    display: inline;
    margin: 1%;
}
.status-title {
    font-size: 1.4em;
    font-weight: 500;
}
.status-value {
    font-size: 1.4em;
}
#body-sep {
    width: 100%;
    border: border: .5px solid #fff;
}
/* GRID */
#grid {
    /*background-color: brown;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100% - 100px);
}
.halves:first-child {
    margin-right: 0.7%;
}
.halves {
    display: flex;
    flex-direction: column;
    /*background-color: bisque;*/
    display: flex;
    width: calc(50% - .35%);
    min-height: 100%;
}
.top-q {
    margin-bottom: .5%;
    margin-top: 0 !important;
}
.quarters {
    /*background-color: black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: 50%;
    margin-bottom: 30px;
}

#top-right-grid {
    display: flex;
    flex-direction: row;
}
.half-w:first-child {
    margin-right: 1%;
}

/* WIDGETS */
.widget-title {
    width: 100%;
    /*height: 10%; 10*/
    padding: 1% 0;
}
.widget-content {
    height: calc(100% - 12%);
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.widget {
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 100%;*/
}

/* GRAPH */
#graph {
    display: flex;
    flex-direction: column;
}
#top-graph-desc, #graph-toggle {
    height: 9%;
    padding: .5% 0;
    width: 100%;
}
#graph-svg {
    width: 100%;
    height: 100%;
}
.tick {
    opacity: 0 !important;
  }
  .tick:not(.zero) {
    opacity: 0 !important;
  }

/* NEWS */
._1hm00Z0F3XhDWn6wzQzVsT:hover {
    background-color: #171718;
}
#news-widget .widget-content {
    padding: 0 !important; 
}
/* STOCKS */
#mystocks-widget {
    width: 50%;
}
#mystocks-widget .widget-content, #news-widget .widget-content {
    padding: 1.5% 0;
    overflow-y: scroll;
}
._3bs3MFU9layPxpGyj4-iIW {
    display: contents;
}
#mystocks-widget a {
    border-bottom: 1px solid #1b1b1d;
}

/* WATCHLIST */
#watchlist-widget {
    width: 50%;
}

/* TOP MOVERS */

#movers-widget {
    height: initial;
}
#movers-widget .widget-content {
    transition: none;
    box-shadow: none;
}
#movers-widget .owl-carousel, #movers-widget .owl-carousel .slide, #movers-widget .widget-content {
    height: initial;
}
#movers-widget .slide {
    padding: 1px;
}

/* CAROUSEL */
.owl-carousel, .owl-carousel .slide {
    height: 100%;
}

path.line {
    fill: none;
    stroke: #000000;
    stroke-width: 1;
}

.mg-x-axis {
    fill: #171718 !important;
}
.mg-x-axis text {
    fill: white !important;
}

#graph-toggle {
    padding-bottom: 0;
}

._162aHJLdCpaG9r93LD3XJ9._2-gmgKb19Qwq_bOCLAAyJ1 a {
    margin-bottom: 0;
    padding-bottom: 0;
}

._162aHJLdCpaG9r93LD3XJ9._2-gmgKb19Qwq_bOCLAAyJ1 a:hover {
    transition: text-decoration 0.5s linear;
    text-decoration: underline;
    text-decoration-color: #f45531;
    text-decoration-line: 500;
}